<!-- 导航条
================================================== -->


<form action="{:U("Search/index")}" name="Searchform"  method="post" ><div class="header"><a href="https://www.docer.com/" class="logo" title="稻壳儿">www.docer.com</a><a href="http://www.docer.com/zhuanti/national.html?from=gif" class="gif_ad"><img src="http://www.docer.com/application/styles/images/gif_ad.gif" alt=""></a><div class="header_conter" style="display:" data-searchbar-value="" data-searchbar-radiovalue="所有" data-searchbar-readioselector="#searchRadio" data-searchbar-tags="" data-searchbar-saletype="0"><div class="search"><input type="text" name="words" placeholder="输入您想要的商品" class="search_input"><a rel="nofollow" href="javascript:vod(0)" class="search_btn"></a></div><div class="tag">热门搜索：
</form>
<foreach name="hotsearch" item="vo"><a href="{:U('Search/index?words='.$vo)}">{$vo}</a></foreach>

</div></div><div class="top_right">
</div><div class="cb"></div></div>