<extend name="Base/pageall"/>



<block name="body">

<div class="main"><div class="search_main_top">

    <div class="main_nav"><a rel="nofollow" href="{:U('index/index')}">首页</a>&gt;<p> <a href="{:U('Article/index?category='.$category['name'])}">{$category['title']}</a> </p>
     </div>
<div class="ctop"> <div class="p_cate">
	 <empty name="childlist">暂无分类 
	 <else/>
	  <div class="ctitle">所有分类 </div>

	  <ul>
	  <volist name="childlist" id="vo"><li> <a href="{:U('Article/lists/?category='.$vo['name'])}">{$vo.title}</a></li></volist></ul>
	  </empty>
  </div>

	 <!-- 代码 开始 -->
    <div id="yc-mod-slider">
            <div id="slideshow" class="box_skitter fn-clear">
               <ul>
                    <li>
                        <img alt="Joomla模板与内容的融合设计" class="cubeRandom" src="__IMG__/slider1.jpg" /></li>
                    <li>
                        <img alt="野草工作室一直在用心建站" class="cubeRandom" src="__IMG__/slider2.jpg" /></li>
                    <li>
                        <img alt="利用Joomla+SEO提升网络营销竞争力" class="cubeRandom" src="__IMG__/slider3.jpg" /></li>
                </ul>
            </div>
            <script type="text/javascript" src="__STATIC__/js/slideshow.js"></script>
        </div>
   
    <!-- 代码 结束 -->
	
	  </div>
	  <div class="ml_content"><ul class="ml_content_top"><li><a rel="nofollow" href="" class="mct_a active">热度</a></li><li><a rel="nofollow" href="{:U('Article/new?category='.$category['name'])}" class="mct_a">最新</a></li></ul><ul class="ml_content_main">
      
         <article:list name="list" category="$category['id']" child="true"  >
          <li>
                    <a href="{:U('Article/detail?id='.$list['id'])}"> <img src="{$list.cover_id|get_cover='path'}"/></a>
             <p> <a href="{:U('Article/detail?id='.$list['id'])}"> {$list.title}</a></p>   
			  <p><span class="red" title="预览：{$list.id|get_good_price}">价格：{$list.id|get_good_price}</span></p>
                        <p><span class="gray" title="预览：{$list.view}">预览：{$list.view}</span></p>&nbsp;&nbsp;
              </li>      
            </article:list>
			
			</ul></div></div>

        <!-- Contents
        ================================================== -->
        <section id="contents">
       
	<script type="text/javascript">
//这时obj就是触发事件的对象，购物车动态删除
	function delcommon(event) { //获取事件源
event = event ? event : window.event; 
var obj = event.srcElement ? event.srcElement : event.target; 
//这时obj就是触发事件的对象，可以使用它的各个属性 
//还可以将obj转换成jquery对象，方便选用其他元素 
str = obj.innerHTML.replace(/<\/?[^>]*>/g,''); //去除HTML tag

	var $obj = $(obj);
	
	if(obj.rel=="del")
{ var gid=obj.name;
var array=$("#div2 li");//登录用户显示的li的个数
var arr=$("#goods li");//未登录用户显示的li的个数
	//全选的实现 定义删的发送路径
	if(array.length!==4){
		var del='{:U("Shopcart/delItem")}';
	
	}
else{
var del='{:U("Shopcart/delItemByuid")}';
	
	}
$.ajax({
type:'post', //传送的方式,get/post
url:del, //发送数据的地址
data:{id:gid},
 dataType: "json",
success:function(data)
{var $obj = $(obj);
	$obj.parent().remove();

	if(data.num=="0"){  //判断购物车数量是否为0，为0则隐藏底部查看工具
						$("div.sc_goods_foot").hide();
						var html='<p class="sc_goods_none" >您的购物车还是空的，赶紧行动吧！</p>';
					$("ul.sc_goods_ul").html(html);
				
	
	}
	else{$("div.sc_goods_foot").show();}

},
error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
alert(XMLHttpRequest+thrownError); }
		})
}
	
	} 
//购物车删除结束

</script>
        </section>
   
</block>